<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="apple-touch-icon.png" rel="apple-touch-icon">
<link href="favicon.png" rel="icon">
<meta name="author" content="Nghia Minh Luong">
<meta name="keywords" content="Default Description">
<meta name="description" content="Default keyword">
<title>SupremeMakers</title>
<script src="js/websql.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script type="text/javascript" src="js/jquery-latest.js"></script>
<!-- page -->

<!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="css/bootstrapv3.min.css"> -->


<!-- Fonts-->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/ps-icon/style.css">
<!-- CSS Library-->
<link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="plugins/owl-carousel/assets/owl.carousel.css">
<link rel="stylesheet" href="plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
<link rel="stylesheet" href="plugins/slick/slick/slick.css">
<link rel="stylesheet" href="plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="plugins/Magnific-Popup/dist/magnific-popup.css">
<link rel="stylesheet" href="plugins/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="plugins/revolution/css/settings.css">
<link rel="stylesheet" href="plugins/revolution/css/layers.css">
<link rel="stylesheet" href="plugins/revolution/css/navigation.css">
<!-- Custom-->
<link rel="stylesheet" href="css/style.css">
<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
<!--WARNING: Respond.js doesn't work if you view the page via file://-->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
	
<div class="header--sidebar"></div>
<header class="header">
  <div class="header__top">
	<div class="container-fluid">
	  <div class="row">
			<div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
			  <p></p>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
			  <div class="header__actions"><a href="#"></a>
				 <!-- <div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD<i class="fa fa-angle-down"></i></a>
				 <ul class="dropdown-menu">
					<li><a href="#"><img src="images/flag/usa.svg" alt=""> USD</a></li>
					<li><a href="#"><img src="images/flag/singapore.svg" alt=""> SGD</a></li>
					<li><a href="#"><img src="images/flag/japan.svg" alt=""> JPN</a></li>
				  </ul>
				</div> -->
			<!-- 	<div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language<i class="fa fa-angle-down"></i></a>
				  <ul class="dropdown-menu">
					<li><a href="#">English</a></li>
					<li><a href="#">Japanese</a></li>
					<li><a href="#">Chinese</a></li>
				  </ul>
				</div> -->
			  </div>
			</div>
	  </div>
	</div>
  </div>
  <nav class="navigation">
	<div class="container-fluid">
	  <div class="navigation__column left">
		<div class="header__logo"><a class="ps-logo" href="index.html"><img src="images/logo.jpg" alt=""></a></div>
	  </div>
	  <div class="navigation__column center">
			<ul class="main-menu menu">
			  <li class="menu-item menu-item-has-children dropdown"><a href="index.html">Home</a>
					<ul class="sub-menu">
					</ul>
			  </li>
			</ul>
	  </div>
	  <div class="navigation__column right">
		<!-- <form class="ps-search--header" action="do_action" method="post">
		  <input class="form-control" type="text" placeholder="Search Product…">
		  <button><i class="ps-icon-search"></i></button>
		</form> -->
		<div id="cart-hide" class="ps-cart"><a class="ps-cart__toggle" href="#"><span id="htmlNumber"></span><i class="ps-icon-shopping-cart"></i></a>
			  <div class="ps-cart__listing">
				<div id="shopcar" class="ps-cart__content">
			
				</div>
				<div id="carTotal" class="ps-cart__total">
				 
				</div>
				<div class="ps-cart__footer"><a class="ps-btn" href="goodsList.html">Check out<i class="ps-icon-arrow-left"></i></a></div>
			  </div>
			</div>
	
	
		<div class="menu-toggle"><span></span></div>
	  </div>
	</div>
  </nav>
</header>  
<div class="header-services">
  <p style=" font-size: 25px;text-align: center;color: white;padding-top: 6px;">FREE EXPRESS SHIPPING ON ANYTHING</p>
</div>
<main class="ps-main">
  <div class="ps-section--features-product ps-section masonry-root pt-100 pb-100" id="goodsList">
	<div class="ps-container">
	  <div class="ps-section__header mb-50" >
		<h3 class="ps-section__title" data-mask="features">- Features Products</h3>
		<ul class="ps-masonry__filter">
		  <li   @click="setType('all','')"  class="thick">All </li>
		  <li   @click="setType('Shirt',444)"   class="thick">Shirt</li >
		  <li   @click="setType('jackets',222)"   class="thick">jackets</li>
		  <li   @click="setType('pants',111)"   class="thick">pants</li>
		  <li   @click="setType('knitwear',333)"  class="thick">footwear</li>
		 
		</ul>
	  </div>
	  <div class="ps-section__content pb-50" >
		<div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
		  <div class="ps-masonry" >
			<div class="grid-sizer"></div>
			<div class="grid-item goodsList  goodsLeft " v-for="goods in goodsList" >
			  <div class="grid-item__content-wrapper">
				<div class="ps-shoe mb-30">


				  <div class="ps-shoe__thumbnail" v-if="goods.type === 200">
					<div class="ps-badge color-gray"><span>sold   out</span></div>					
					<i class="ps-icon-heart"></i></a>
						<img :src="goods.goodsPicture" class="gray-img" alt="">
						<a class="ps-shoe__overlay" :href="'product-detail.html?id='+goods.goodsId+'&stu=1'">
						</a>
				   </div> 

				

  				<div class="ps-shoe__thumbnail" v-else-if="goods.type === 400">
					<div class="ps-badge color-gray"><span>coming soon</span></div>
					<i class="ps-icon-heart"></i></a>
						<img :src="goods.goodsPicture" class="gray-img" alt="">
						<a class="ps-shoe__overlay" :href="'product-detail.html?id='+goods.goodsId+'&stu=1'">
						</a>
				 </div> 

    			<div class="ps-shoe__thumbnail" v-else-if="goods.type === 300">
					<div class="ps-badge"><span>back in stock</span></div>
					<i class="ps-icon-heart"></i></a>
						<img :src="goods.goodsPicture"  alt="">
						<a class="ps-shoe__overlay" :href="'product-detail.html?id='+goods.goodsId+'&stu=0'">
						</a>
				</div> 
				
				<div class="ps-shoe__thumbnail" v-else-if="goods.type === 99">
					<div class=""></div>
					
				</div> 
				
				   
				<div class="ps-shoe__thumbnail" v-else>
					<div class=""><span></span></div>
						<div class="ps-badge"><span>New </span></div>
					<i class="ps-icon-heart"></i></a>
					 <img :src="goods.goodsPicture" alt="">
					 <a class="ps-shoe__overlay" :href="'product-detail.html?id='+goods.goodsId+'&stu=0'">
						</a>
				</div> 
			
			  <div class="ps-shoe__content" v-if="goods.status === 99">
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#"></a>
					  <p class="ps-shoe__categories"></a></p></br><span class="ps-shoe__price">

						</span>
					</div>
				  </div>
				  
				  <div class="ps-shoe__content" v-else>
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">{{goods.goodsName}}</a>
					  <p class="ps-shoe__categories"></a></p></br><span class="ps-shoe__price">

						£ {{goods.goodsPrices}}</span>
					</div>
				  </div>
				  
				</div>
			  </div> 
			</div>
			
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
   <!-- <div class="col-xs-9 col-xs-offset-3" style="padding: 0 0 0 0;text-align: center">
            <ul class="pagination"></ul>
        </div>  -->
  

 
  

  <div class="ps-footer bg--cover" data-background="images/background/parallax.jpg">
	<div class="ps-footer__content">
	  <div class="ps-container">
		<div class="row">
			  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--info">
				  <header><a class="ps-logo" href="index.html"><img src="images/logo-white.png" alt=""></a>
					<h3 class="ps-widget__title">Address Office 1</h3>
				  </header>
				  <footer>
					<p><strong>460 West 34th Street, 15th floor, New York</strong></p>
					<p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
					<p>Phone: +323 32434 5334</p>
					<p>Fax: ++323 32434 5333</p>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--info second">
				  <header>
					<h3 class="ps-widget__title">Address Office 2</h3>
				  </header>
				  <footer>
					<p><strong>PO Box 16122 Collins  Victoria 3000 Australia</strong></p>
					<p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
					<p>Phone: +323 32434 5334</p>
					<p>Fax: ++323 32434 5333</p>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--link">
				  <header>
					<h3 class="ps-widget__title">Find Our store</h3>
				  </header>
				  <footer>
					<ul class="ps-list--link">
					  <li><a href="#">Coupon Code</a></li>
					  <li><a href="#">SignUp For Email</a></li>
					  <li><a href="#">Site Feedback</a></li>
					  <li><a href="#">Careers</a></li>
					</ul>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--link">
				  <header>
					<h3 class="ps-widget__title">Get Help</h3>
				  </header>
				  <footer>
					<ul class="ps-list--line">
					  <li><a href="#">Order Status</a></li>
					  <li><a href="#">Shipping and Delivery</a></li>
					  <li><a href="#">Returns</a></li>
					  <li><a href="#">Payment Options</a></li>
					  <li><a href="#">Contact Us</a></li>
					</ul>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--link">
				  <header>
					<h3 class="ps-widget__title">Products</h3>
				  </header>
				  <footer>
					<ul class="ps-list--line">
					  <li><a href="#">Shoes</a></li>
					  <li><a href="#">Clothing</a></li>
					  <li><a href="#">Accessries</a></li>
					  <li><a href="#">Football Boots</a></li>
					</ul>
				  </footer>
				</aside>
			  </div>
		</div>
	  </div>
	</div>
	<div class="ps-footer__copyright">
	  <div class="ps-container">
		<div class="row">
			  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
			  </div>
			  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
				<ul class="ps-social">
				  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				  <li><a href="#"><i class="fa fa-ma-plus"></i></a></li>
				  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
				</ul>
			  </div>
		</div>
	  </div>
	</div>
  </div>
</main>
<!-- JS Library-->
<script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.min.js"></script>
<!-- <script type="text/javascript" src="plugins/gmap3.min.js"></script>
 --><script type="text/javascript" src="plugins/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="plugins/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="plugins/slick/slick/slick.min.js"></script>
<script type="text/javascript" src="plugins/elevatezoom/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- <script type="text/javascript" src="js/googlemap.js"></script>
 -->
 <script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
 <script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
 <script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
 <script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<!-- page -->
<!-- <script type="text/javascript"  src="js/bootstrap.min.js"></script>
<script type="text/javascript"  src="js/bootstrap-paginator.js"></script> -->

<script type="text/javascript" src="js/category.js"></script>
<!-- Custom scripts-->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>