<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="apple-touch-icon.png" rel="apple-touch-icon">
<link href="favicon.png" rel="icon">
<meta name="author" content="Nghia Minh Luong">
<meta name="keywords" content="Default Description">
<meta name="description" content="Default keyword">
<title>SupremeMakers</title>
<script src="js/websql.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<!-- <script src="http://code.jquery.com/jquery-latest.js"></script>
 --><!-- Fonts-->
<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/ps-icon/style.css">
<!-- CSS Library-->
<link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="plugins/owl-carousel/assets/owl.carousel.css">
<link rel="stylesheet" href="plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
<link rel="stylesheet" href="plugins/slick/slick/slick.css">
<link rel="stylesheet" href="plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="plugins/Magnific-Popup/dist/magnific-popup.css">
<link rel="stylesheet" href="plugins/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="plugins/revolution/css/settings.css">
<link rel="stylesheet" href="plugins/revolution/css/layers.css">
<link rel="stylesheet" href="plugins/revolution/css/navigation.css">
<link rel="stylesheet" href="css/photo.css">
<!-- Custom-->
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery-latest.js"></script>
<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
<!--WARNING: Respond.js doesn't work if you view the page via file://-->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
<div class="header--sidebar"></div>
<header class="header">
  <div class="header__top">
	<div class="container-fluid">
	<!-- 最上边导航 -->
	   <div class="row">
	  </div> 
	</div>
  </div>
  <nav class="navigation">
	<div class="container-fluid">
	  <div class="navigation__column left">
		<div class="header__logo"><a class="ps-logo" href="index.html"><img src="images/logo.jpg" alt=""></a></div>
	  </div>
	  <div class="navigation__column center">
			<ul class="main-menu menu">
			  <li class="menu-item menu-item-has-children dropdown"><a href="index.html">Home</a>
					<ul class="sub-menu">
					</ul>
			  </li>
			</ul>
	  </div>
	  <div class="navigation__column right">
		<form class="ps-search--header" action="do_action" method="post">
		  <input class="form-control" type="text" placeholder="Search Product…">
		  <button><i class="ps-icon-search"></i></button>
		</form>
		<!-- 购物车开始 -->
		<div id="cart-hide" class="ps-cart"><a class="ps-cart__toggle" href="#"><span id="htmlNumber"></span><i class="ps-icon-shopping-cart"></i></a>
		  <div class="ps-cart__listing">
			<div id="shopcar" class="ps-cart__content">
		
			</div>
			<div id="carTotal" class="ps-cart__total">
			 
			</div>
			<div class="ps-cart__footer"><a class="ps-btn" href="goodsList.html">Check out<i class="ps-icon-arrow-left"></i></a></div>
		  </div>
		</div>
		<!-- 购物车结束 -->
		<div class="menu-toggle"><span></span></div>
	  </div>
	</div>
  </nav>
</header>
<!-- 小汽车开始 -->
<div class="header-services">
  <div class="ps-services owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="7000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
  </div>
   <p style=" font-size: 25px;text-align: center;color: white;padding-top: 6px;">FREE EXPRESS SHIPPING ON ANYTHING</p>
</div>
<!-- 小汽车结束 -->
<main class="ps-main">
  <div class="test">
	<div class="container">
	  <div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
			</div>
	  </div>
	</div>
  </div>
  <div class="ps-product--detail pt-60" id="goodsDetail">
	<div class="ps-container">
	  <div class="row">
		<div class="col-lg-10 col-md-12 col-lg-offset-1">
		  <div class="ps-product__thumbnail">
			<div class="ps-product__image">
			  <div id="shop-img"  class="item " v-if="type === 200 | type===400">
			  <img id="img-one" class="zoom gray-img" :src="goodsPicture" alt="" :data-zoom-image="goodsPicture">
			  </div>
			  <div id="shop-img"  class="item " v-else>
			  <img id="img-one" class="zoom" :src="goodsPicture" alt="" :data-zoom-image="goodsPicture">
			  </div>
			</div>
		  </div>
		
		  <div class="ps-product__info">
			
			<h1>{{goodsName}}</h1><!-- 标题 -->
			
			<h3 class="ps-product__price">£ {{goodsPrices}} </h3><!-- 打折 -->
			<div class="ps-product__block ps-product__quickview">
			  <!-- <h4>QUICK REVIEW</h4>
			  <p>The Nike Free RN 2017 Men's Running Shoe weighs less than previous versions and features an updated knit material…</p> -->
			</div>
			<div class="ps-product__block ps-product__style">
			  <h4>CHOOSE YOUR STYLE</h4>
			  <ul class="pitch"><!-- 颜色 -->
				<li v-for="colour in colourList"  ><img id="img"  :src="colour.colourImg" :title="colour.colourName"></a></li>
			  </ul>
			</div>
			<!-- 尺码 -->
			<div class="ps-product__block ps-product__size" >
			  <h4>CHOOSE SIZE<a href="#">Size chart</a></h4>
			  <select id="select" class="ps-select selectpicker">
				 <option value="-1">Select Size</option> 
				 <option v-for="size in goodsSizeList" @click="sizelist(111)" :value="size.sizeId">{{size.sizeName}}</option>
			  </select>
			  <!-- <div class="form-group">
				<input class="form-control" type="number" value="1">
			  </div> -->
			</div>
			
			<div  class="ps-product__shopping add-to-cart">
			<button v-if="type === 200 | type===400" disabled="disabled" @click="shop(goodsPrices,goodsPicture,goodsName)" id="add_car" class="dis-btn mb-10 " type="button">Add to cart</button>
			<button v-else @click="shop(goodsPrices,goodsPicture,goodsName)" id="add_car" class="ps-btn mb-10 " type="button">Add to cart</button>
			
			<i class="ps-icon-next"></i>
			</div>
			
		  </div>
		  <div class="clearfix"></div>
		  <div class="ps-product__content mt-50">
			<ul class="tab-list" role="tablist">
			  <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Overview</a></li>
			</ul>
		  </div>
		  <div class="tab-content mb-60">
		  <!-- 简介 begin-->
			<div class="tab-pane active" role="tabpanel" id="tab_01">
			 {{content}}
			</div>
			<!-- 简介end -->
		  </div>
		</div>
	  </div>
	</div>
  <!-- 商品详情  图片循环 -->
  <div class="wrap"  >
      <ul class="clearfixExt photo-ul-product">
                    <li v-for="photo in photoList" class="photo-li-product "><img class=" photo-img " :src="photo.photoUrl"></li>
       </ul>
  </div> 
  </div>
 
		</div>
	  </div>
	</div>
  </div>
  <!--导航栏 end  -->
  <!-- 发送邮件  begin -->
  <div class="ps-subscribe">
	<div class="ps-container">
	  <div class="row">
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
			  <h3><i class="fa fa-envelope"></i>Sign up to Newsletter</h3>
			</div>
			<div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
			  <form class="ps-subscribe__form" action="do_action" method="post">
				<input class="form-control" type="text" placeholder="">
				<button>Sign up now</button>
			  </form>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
			  <p>...and receive  <span>$20</span>  coupon for first shopping.</p>
			</div>
	  </div>
	</div>
  </div>
  <!-- 发送邮件  end -->
  <div class="ps-footer bg--cover" data-background="images/background/parallax.jpg">
	<div class="ps-footer__content">
	  <div class="ps-container">
		<div class="row">
			  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--info">
				  <header><a class="ps-logo" href="index.html"><img src="images/logo-white.png" alt=""></a>
					<h3 class="ps-widget__title">Address Office 1</h3>
				  </header>
				  <footer>
					<p><strong>460 West 34th Street, 15th floor, New York</strong></p>
					<p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
					<p>Phone: +323 32434 5334</p>
					<p>Fax: ++323 32434 5333</p>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--info second">
				  <header>
					<h3 class="ps-widget__title">Address Office 2</h3>
				  </header>
				  <footer>
					<p><strong>PO Box 16122 Collins  Victoria 3000 Australia</strong></p>
					<p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
					<p>Phone: +323 32434 5334</p>
					<p>Fax: ++323 32434 5333</p>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--link">
				  <header>
					<h3 class="ps-widget__title">Find Our store</h3>
				  </header>
				  <footer>
					<ul class="ps-list--link">
					  <li><a href="#">Coupon Code</a></li>
					  <li><a href="#">SignUp For Email</a></li>
					  <li><a href="#">Site Feedback</a></li>
					  <li><a href="#">Careers</a></li>
					</ul>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--link">
				  <header>
					<h3 class="ps-widget__title">Get Help</h3>
				  </header>
				  <footer>
					<ul class="ps-list--line">
					  <li><a href="#">Order Status</a></li>
					  <li><a href="#">Shipping and Delivery</a></li>
					  <li><a href="#">Returns</a></li>
					  <li><a href="#">Payment Options</a></li>
					  <li><a href="#">Contact Us</a></li>
					</ul>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--link">
				  <header>
					<h3 class="ps-widget__title">Products</h3>
				  </header>
				  <footer>
					<ul class="ps-list--line">
					  <li><a href="#">Shoes</a></li>
					  <li><a href="#">Clothing</a></li>
					  <li><a href="#">Accessries</a></li>
					  <li><a href="#">Football Boots</a></li>
					</ul>
				  </footer>
				</aside>
			  </div>
		</div>
	  </div>
	</div>
	<div class="ps-footer__copyright">
	  <div class="ps-container">
		<div class="row">
			  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
			
			  </div>
			  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
				<ul class="ps-social">
				  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
				</ul>
			  </div>
		</div>
	  </div>
	</div>
  </div>
</main>
<!-- JS Library-->
<script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.min.js"></script>
<!-- <script type="text/javascript" src="plugins/gmap3.min.js"></script> -->
<script type="text/javascript" src="plugins/imagesloaded.pkgd.js"></script>
<!-- <script type="text/javascript" src="plugins/isotope.pkgd.min.js"></script> -->
<script type="text/javascript" src="plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="plugins/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="plugins/slick/slick/slick.min.js"></script>
<script type="text/javascript" src="plugins/elevatezoom/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="plugins/shop/jquery-ui.min.js"></script>
<script type="text/javascript" src="plugins/shop/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<!-- Custom scripts-->
<script type="text/javascript" src="js/goods_detail.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/myAlert.js"></script>

</body>
</html>
