<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="web.dao.OrderDao" >
  <resultMap id="BaseResultMap" type="web.model.Order" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="size_name" property="sizeName" jdbcType="VARCHAR" />
    <result column="size_id" property="sizeId" jdbcType="VARCHAR" />
    <result column="goods_prices" property="goodsPrices" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, status, goods_name, goods_id, size_name, size_id, goods_prices, order_number, 
    user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sup_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sup_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="web.model.Order" >
    insert into sup_order (id, status, goods_name, 
      goods_id, size_name, size_id, 
      goods_prices, order_number, user_id, 
      create_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=VARCHAR}, #{sizeName,jdbcType=VARCHAR}, #{sizeId,jdbcType=VARCHAR}, 
      #{goodsPrices,jdbcType=BIGINT}, #{orderNumber,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="web.model.Order" >
    insert into sup_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="sizeName != null" >
        size_name,
      </if>
      <if test="sizeId != null" >
        size_id,
      </if>
      <if test="goodsPrices != null" >
        goods_prices,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="sizeName != null" >
        #{sizeName,jdbcType=VARCHAR},
      </if>
      <if test="sizeId != null" >
        #{sizeId,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrices != null" >
        #{goodsPrices,jdbcType=BIGINT},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="web.model.Order" >
    update sup_order
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="sizeName != null" >
        size_name = #{sizeName,jdbcType=VARCHAR},
      </if>
      <if test="sizeId != null" >
        size_id = #{sizeId,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrices != null" >
        goods_prices = #{goodsPrices,jdbcType=BIGINT},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="web.model.Order" >
    update sup_order
    set status = #{status,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      size_name = #{sizeName,jdbcType=VARCHAR},
      size_id = #{sizeId,jdbcType=VARCHAR},
      goods_prices = #{goodsPrices,jdbcType=BIGINT},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>