<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="web.dao.SupSizeDao" >
  <resultMap id="BaseResultMap" type="web.model.SupSize" >
    <result column="size_id" property="sizeId" jdbcType="VARCHAR" />
    <result column="size_name" property="sizeName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    
  </resultMap>
  
   <resultMap id="sizeList" type="web.model.SupSize" >
    <result column="size_id" property="sizeId" jdbcType="VARCHAR" />
    <result column="size_name" property="sizeName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectByGoodsId" parameterType="java.lang.String" resultMap="sizeList">  
       SELECT s.* from  sup_size s   WHERE s.status=1 and  s.goods_id=#{id} 
   </select>
   
  <insert id="insert" parameterType="web.model.SupSize" >
    insert into sup_size (size_id, size_name, status, 
      create_time, update_time)
    values (#{sizeId,jdbcType=VARCHAR}, #{sizeName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="web.model.SupSize" >
    insert into sup_size
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sizeId != null" >
        size_id,
      </if>
      <if test="sizeName != null" >
        size_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sizeId != null" >
        #{sizeId,jdbcType=VARCHAR},
      </if>
      <if test="sizeName != null" >
        #{sizeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>